#ad-animation{
  width: 500px;
  height: 300px;
  overflow: hidden;
	border: solid #000 1px;
  background-image: url(../img/floor.jpg);
}
#overhead{
  width: 20%;
  transform: rotate(90deg);
  position:relative;
  top: 0px;
  left: -200px;
  z-index: 1;
  animation: roomba_overhead 15s ease 0s forwards;
}
#logo{
  width: 50%;
  position: relative;
  top: 100px;
  left: 10px;
  opacity: 0;
  animation: logo 3s ease 6s forwards;
}
@keyframes roomba_overhead {
  0%{
    top: 0px;
    left: -200px;
  }
  20%{
    top: 0;
    left: 400px;
    transform: rotate(90deg);
  }
  25%{
    transform: rotate(180deg);
    top: 0;
    left: 400px;
  }
  30%{
    transform: rotate(180deg);
    top: 100px;
    left: 400px;
  }
  35%{
    transform: rotate(270deg);
    top: 100px;
    left: 400px;
  }
  55% {
    transform: rotate(270deg);
    top: 100px;
    left: 0px;
  }
  60%{
    transform: rotate(180deg);
    top: 100px;
    left: 0px;
  }
  65%{
    transform: rotate(180deg);
    top: 200px;
    left: 0px;
  }
  70%{
    transform: rotate(90deg);
    top: 200px;
    left: 0px;
  }
  90%{
    transform: rotate(90deg);
    top: 200px;
    left: 500px
  }
  91%{
    transform: rotate(270deg);
    top: 100px;
    left: 500px;
  }
  100%{
    transform: rotate(270deg);
    top: 100px;
    left: 350px;
  }
}
@keyframes logo {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
